body {
      font: 20px Montserrat, sans-serif;
      line-height: 1.8;
      color: #4c4c4d;
}

.login_container {
	height: 300px;
	width: 50%;
	margin: 0 20%;
}

.login_text {
	margin: 20% 20% 2% 35%;
	font-size: 26px;
}

.button_padding {
	padding: 20px 0px 20px 0px;
}